<app-login></app-login>
<div class="app">
    <h1>I am Parent component(App component)</h1>
    <h2>One Way data Binding :</h2>
    <h2>Event binding</h2>
    <input type="text" placeholder="property binding" [disabled]=isDisabled>
    <h2>Event binding</h2>
    <button (click)="OnClick()">Click</button> <!-- event binding -->

    <h2>Two Way data Binding :</h2>
    <div>
        <br>
        <input type="text" placeholder="two way binding" [(ngModel)]="initial_value">
        <h1>{{initial_value}}</h1>
    </div>

    <h1>Style binding</h1>
    <h2 [style.color]="hasError? 'white':'blue'">Conditional case </h2>
    <h2 [style.color]="style_binding1_color">heading binding with style.color </h2>
    <h2 [ngStyle]="ng_style_binding">heading binding with ngStyle </h2>
    <button (click)="update_color()">Click to change color orange to blue</button>


    <h2>Call function on button click :</h2>
    <button (click)="getName('This is the Jayesh as a string parameter')">Click here to see Action </button>

    <button (click)="getName('This is the Jayesh as a number parameter')">Click here to see action with number  </button>
    

    
    <app-cars></app-cars>
    <app-bikes></app-bikes>

</div>