.app{
    background-color: red;
    color: white;
    padding: 20px;
}

.center{
    text-align: center;
    /* padding: 15px; */
}
.button{
    margin: 5px;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    border: none;
    font-size: 16px;
    color: rgb(252, 250, 250);
    background-color: rgb(88, 163, 230);
}
footer{
    position: fixed;
    padding: 10px 10px 30px 10px;
    bottom: 0;
    width: 100%; 
    height: 20px;
    background: rgb(99, 104, 80);
    text-align: center;
    color: white;
    
}

 input.active{
    background-color: red;
}


#loading{
    position: absolute;
    left: 50%;
    top: 50%;
    z-index: 1;
    width: 150px;
    height: 150px;
    margin: -75px 0 0 -75px;
    border: 16px solid #f3f3f3;
    border-radius: 50%;
    border-top: 16px solid #3498db;
    width: 120px;
    height: 120px;
    animation: spin 2s linear infinite;
    }
    
    @keyframes spin {
      0% { transform: rotate(0deg); }
      100% { transform: rotate(360deg); }
    }